@import "breakpoints.scss";
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #fff;
}

h1 {
    font-variant: small-caps;
}

.header {
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
    z-index: 3;
    .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
        li {
            a {
                display: block;
                padding: 20px 20px;
                border-right: 1px solid #f4f4f4;
                font-weight: 600;
                color: #fff;
                text-decoration: none;
                background-color: cornflowerblue;
                &:hover {
                    transition: 25ms;
                    background-color: #e4e24a;
                    color: #333;
                }
            }
            @include breakpoint-up(sm) {
                float: left;
                a {
                    padding: 20px 30px;
                }
            }
        }
    }
    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        @include breakpoint-up(sm) {
            clear: none;
            float: right;
            max-height: none;
        }
    }
    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        @include breakpoint-up(sm) {
            display: none;
        }
        .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
            &::before {
                top: 5px;
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }
            &::after {
                top: -5px;
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }
        }
    }
    .menu-btn {
        display: none;
        &:checked {
            ~.menu {
                max-height: 240px;
            }
            ~.menu-icon {
                .navicon {
                    background: transparent;
                }
                &:not(.steps) {
                    .navicon {
                        &::before,
                        &:after {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

.contact {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .5s;
    background-color: #fff;
}

.contact section {
    text-align: right;
    padding: 10px;
}

.contact section a {
    border: none;
    text-decoration: none;
    outline: none;
    color: #e05e02;
}

.contact:target {
    visibility: visible;
    opacity: 1;
}

.contact-form {
    position: absolute;
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
}

.contact-form-input,
.contact-form button {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 24px;
    letter-spacing: 1px;
    border: none;
    width: 100%;
    outline: none;
}

.contact-form button {
    background-color: #e05e02;
    padding: 20px;
    color: #fff;
}

.contact-form div:nth-child(1),
.contact-form div:nth-child(2) {
    position: relative;
}

.contact-form div:nth-child(1)::after,
.contact-form div:nth-child(2)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
}

.contact-form textarea {
    overflow: auto;
    height: 100px;
    text-transform: none;
}